-webkit-border-radius: 41px;
-moz-border-radius: 41px;
border-radius: 41px;
text-shadow: -2px -2px 0px #000000;
background-color: #8B0000;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #888888;
text-align: center;
