html {
  scroll-behavior: smooth;
  color: #fff;
}

body {
  background:url(../images/back.jpg)no-repeat center center fixed;
  background-size:cover;
  background-color: #3b3c40;
}

#spacer {
  height: 900px;
}
